body {
    margin: 0;
}

#main {
    display: flex;
}

header, footer {
    padding: 10px;
    background-color: gray;
}
header {
    display: flex;
    height: 120px;
    align-items: center;
}
#logo {
    float: left;
    width: 120px;
    height: 120px;
}
#text {
    background-color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer {
    color: white;
}
footer div {
    margin: 10px;
}

nav {
    margin: 30px 0;
    width: 100%;
}
#menu a, #nav a, #form div {
    display: block;
    background-color: aquamarine;
    border: solid black 1px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 5px auto;
    margin-bottom: 1px;
}

#main {
    flex-direction: column;
}

div.cont {
    margin-bottom: 10px;
    width: 100vw;
}

div.cont strong {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    background-color: aqua;
    border: solid black 1px;
}

li img {
    width: 80%;
}

#form div {
    background-color: cadetblue;
    margin: 5px auto;
}
#form input {
    text-align: center;
    height: 25px;
    vertical-align: middle;
}
#submit input {
    width: 50%;
}

#table {
    order: -1;
}
#table table {
    height: 80vw;
}
#table td, #table th {
    border: solid black 1px;
    text-align: center;
}
#table th {
    background-color: orange;
}
#table tr:nth-child(odd) {
    background-color: white;
}
#table tr:nth-child(even) {
    background-color: gray;
}


@media screen and (min-width: 800px) {
    body {
        font-size: auto;
    }
    #menu {
        position: absolute;
        top: -20px;
        right: 10px;
        max-width: 960px;
        text-align: right;
    }
    #menu a, #nav a, #form div {
        height: auto;
        padding: 5px;
    }
    #menu a {
        display: inline-block;
        margin-left: 1px;
        padding: 5px;
    }
    #nav {
        margin: 10px auto;
        margin-bottom: 30px;
        max-width: 640px;
    }
    #nav a {
        padding: 0;
        margin: 1px auto;
    }
    div.cont {
        max-width: 960px;
        width: 100%;
        margin: 30px auto;
    }
    #form div {
        width: 320px;
        margin: 5px auto;
    }
    #form input {
        height: auto;
    }
    #table {
        order: 0;
    }
    #table table {
        height: auto;
    }
}
