body {
    margin: 0;
}

#main, header, footer {
    display: flex;
}

header {
    align-items: center;
    width: 100vw;
    height: 130px;
    padding: 10px;
    background-color: gray;
}
#logo {
    float: left;
    width: 120px;
    height: 120px;
}
#text {
    background-color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

#menu {
    width: 100%;
    margin: 10px 0;
}
#menu a {
    display: block;
    background-color: aquamarine;
    padding: 5px;
    height: 10vw;
    border: solid black 1px;
    text-decoration: none;
    margin-bottom: 1px;
}


#nav {
    width: 100vw;
    margin-bottom: 30px;
}
#nav a {
    display: block;
    background-color: aquamarine;
    height: 10vw;
    text-align: center;
    text-decoration: none;
    border: solid black 1px;
    margin-bottom: 1px;
    padding: 5px;
}

#main {
    flex-direction: column;
}

div.cont {
    width: 100vw;
    margin: 10px 0;
}

div.cont strong {
    text-align: center;
    display: block;
    width: 100vw;
    margin-bottom: 10px;
    background-color: aqua;
    border: solid black 1px;
}

#form div {
    display: block;
    width: 95%;
    background-color: cadetblue;
    padding: 5px;
    border: solid 1px black;
    margin: 5px auto;
    text-align: center;
}
#form input {
    text-align: center;
}

#table {
    order: -1;
}
#table table {
    height: 40vw;
    width: 100vw;
}
#table td, #table th {
    border: solid black 1px;
    text-align: center;
}
#table th {
    background-color: orange;
}
#table tr:nth-child(odd) {
    background-color: white;
}
#table tr:nth-child(even) {
    background-color: gray;
}

footer {
    width: 100vw;
    color: white;
    background-color: gray;
    padding: 10px;
}

@media screen and (min-width: 800px) {
    #menu {
        position: absolute;
        top: 10px;
        right: 10px;
        max-width: 960px;
        text-align: right;
    }
    #menu a {
        display: inline-block;
        margin-left: 1px;
    }
    #nav {
        margin: 10px auto;
        margin-bottom: 30px;
        max-width: 640px;
    }
    #nav a {
        padding: 0;
        margin: 1px auto;
    }
    div.cont {
        max-width: 960px;
        width: 100%;
        margin: 30px auto;
    }
    #form div {
        width: 320px;
        margin: 5px auto;
    }
    #table {
        order: 0;
    }
}
