body {
    margin: 0;
}
header, footer {
    padding: 10px;
    background-color: gray;
}
#logo {
    width: 120px;
    height: 120px;
}
#text {
    background-color: white;
}
#menu a, #nav a, #form div div div {
    background-color: aquamarine;
    border: solid black 1px;
}

header, footer {
    background-color: gray;
}
div.cont strong {
    text-align: center;
    background-color: aqua;
    border: solid black 1px;
}
li img {
    width: 80%;
}
#form div div div {
    background-color: cadetblue;
}
#table td, #table th {
    border: solid black 1px;
    text-align: center;
}
#table th {
    background-color: orange;
}
#table tr:nth-child(odd) {
    background-color: white;
}
#table tr:nth-child(even) {
    background-color: gray;
}
@media screen and (min-width: 576px) {
    #menu {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}
