body { margin: 0%; }
header {
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    background-color: #827d7d;
    margin: 0;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #827d7d;
    margin-top: 10px;
}
#text {
    position: relative;
    top: 50px;
    background-color: white;
    padding: 10px;
    text-align: center;
}
#button{
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    width: 150px;
    height: 50px;
}
#form, #error, #exel{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    background-color: gray;
    padding: 10px;
    border: 1px solid black;
    width: 90vw;
    height: 100vw;
}
#exit{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}
#back {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100vw; height: 100vw;
}
#form label {
    display: block;
    margin: 5% auto;
    text-align: center;
    width: 100%;
}
@media screen and (min-width: 480px) {
    #form, #error, #exel{
        margin: 0 auto;
        margin-top: 100px;
        padding: 10px;
        padding-top: 50px;
        width: 480px;
        height: 240px;
    }
    #form label {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}