body { margin: 0%; }
.error {
    border: 2px solid red;
}
#langs_mess {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 10px solid black;
    height: 80px;
    background-color: black;
}
#pers_mess {
    margin-top: 80px;
    margin-right: 320px;
}
#form {
    position: fixed;
    right: 0;
    top: 80px;
    width: 320px;
    height: 100vw;
}
label {
    display: block;
    width: 100%;
    background-color: cadetblue;
    padding: 5px;
    border: solid 1px black;
    text-align: center;
    margin-bottom: 2px;
}
input { text-align: center; }
table { width:100% }
th
{
    background-color: red;
}
tr:nth-child(odd)
{
    background-color: white;
}
tr:nth-child(even)
{
    background-color: gray;
}
td, th
{
    border: solid black 1px;
    text-align: center;
}
.not_display {
    display: none;
}