body { margin: 0%; }
header 
{
    width: 100%;
    height: 130px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #827d7d;
    margin: 0;
}
#logo { float: left; }
#text
{
    background-color: white;
    padding: 15px;
    text-align: center;
}
#menu
{
    max-width: 960px;
    text-align: right;
    margin-left: auto;
}
#menu a
{
    display: inline-block;
    background-color: aquamarine;
    padding: 5px;
    border: solid black 1px;
    border-bottom: 0px;
    text-decoration: none;
}
div strong
{
    text-align: center;
    display: block;
    margin-bottom: 10px;
    background-color: aqua;
    border: solid black 1px;
}
#nav { margin-bottom: 30px; }
#nav a
{
    display: block;
    max-width: 960px;
    margin: 10 auto;
    background-color: aquamarine;
    text-align: center;
    text-decoration: none;
    border: solid black 1px;
}
.cont
{
    max-width: 960px;
    margin: 0 auto;
}
label
{
    display: block;
    width: 320px;
    background-color: cadetblue;
    padding: 5px;
    border: solid 1px black;
    margin: 0 auto;
    text-align: center;
}
input { text-align: center; }
table { width:100% }
th
{
    background-color: red;
}
tr:nth-child(odd)
{
    background-color: white;
}
tr:nth-child(even)
{
    background-color: gray;
}
td, th
{
    border: solid black 1px;
    text-align: center;
}
footer
{
    width: 100%;
    color: white;
    background-color: #827d7d;
    margin-top: 10px;
    padding: 30px;
}