#main, #nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav {
    justify-content: center;
}
#prev, #next {
    position: absolute;
    top: 50vw;
    background-color: aqua;
    bottom: 1px black;
    height: 40px;
    width: 20px;
    margin: 0;
}
#prev { left: 0; }
#next { right: 0; }
div.navElem {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px black;
    margin: 0 1px ;
}
.none { display: none; }
.small { display: none; }
.big {
    display: block;
    width: 100vw;
    height: 100vw;
    margin: 0px;
}

@media screen and (min-width: 830px) {
    #prev, #next {
        position: static;
    }
    .small {
        display: inline-block;
        width: 200px;
    }
    .big {
        display: inline-block;
        width: 400px;
        height: 400px;
    } 
}