#main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#prev #next {
    background-color: aqua;
    bottom: 1px black;
    height: 100%;
    width: 20px;
    margin: 0;
}
.none { display: none; }
.small { display: none; }
.big { }

@media screen and (min-width: 800px) {
    .small {
        display: inline-block;
        width: 200px;
    }
    .big {
        display: inline-block;
        width: 400px;
    } 
}